@import "src/assets/styles/shared-styles/vars";
@import "src/assets/styles/shared-styles/mixins";

::ng-deep mat-radio-group {
  display: flex;
  flex-direction: column;
  & .radio-label {
    @include font-base(12px, 400, 14px);

    color: $primary;
    margin-bottom: 12px;
  }
  & .radio-wrapper {
    display: flex;
    & mat-radio-button {
      margin-right: 40px;

      & .mat-radio-outer-circle {
        border-color: $primary !important;
      }

      & .mat-radio-inner-circle {
        background-color: $primary !important;
      }

      & .mat-ripple {
        &-element {
          background-color: $primary !important;
        }
      }
    }
    & .mat-radio-disabled {
      & .mat-radio-outer-circle {
        border-color: $circle-secondary !important;
      }
      & .mat-radio-inner-circle {
        transform: scale(0.8) !important;
        background-color: $circle-white !important;
      }
      &.mat-radio-checked {
        & .mat-radio-inner-circle {
          transform: scale(0.5) !important;
          background-color: $secondary !important;
        }
      }
    }
  }
}
