@import "src/assets/styles/shared-styles/vars";
@import "src/assets/styles/shared-styles/mixins";


::ng-deep mat-form-field {
  width: 100%;
  &.error {
    & .mat-form-field-wrapper {
      & .mat-form-field-flex {
        @include border-base(2px, solid, $error, 5px);
      }
    }
    &.mat-focused {
      & .mat-form-field-wrapper {
        & .mat-form-field-flex {
          @include border-base(2px, solid, $error, 5px);
        }
      }
    }
  }
  & mat-label {
    @include font-base(18px, 400, 22px);
  }
  & input {
    @include font-base(16px, 400, 18px);

    padding: 3px;
  }
  & .mat-form-field-flex {
    @include border-base(2px, solid, $secondary, 5px);

    background: $white !important;
  }
  &.mat-focused {
    & .mat-form-field-wrapper{
      & .mat-form-field-flex {
        @include border-base(2px, solid, $primary, 5px);
      }
    }
  }
  & .mat-form-field-underline {
    display: none !important;
  }
  &.mat-form-field-disabled {
    & mat-label {
      color: $default;
    }
    & .mat-form-field-flex {
      background: $default-opacity !important;
    }
  }
}
