<div class="form-wrapper">
  <form>
    <div class="title">
      <h1>FORM TITLE</h1>
    </div>
    <div class="inputs inputs--row">
      <app-my-input
        ngDefaultControl
        [value]="firstInput.value"
        [error]="!!firstInput.errors"
        [errorMessage]="errorMessage"
        [formControl]="firstInput"></app-my-input>
      <app-my-input
        ngDefaultControl
        [value]="secondInput.value"
        [formControl]="secondInput"></app-my-input>
    </div>
    <div class="radio-buttons">
      <app-my-radio-btn class="disabled-text" [disabled]="disabled"></app-my-radio-btn>
      <app-my-radio-btn [disabled]="disabled"></app-my-radio-btn>
    </div>
    <div class="inputs inputs--column">
      <app-my-input
        ngDefaultControl
        [value]="thirdInput.value"
        [error]="!!thirdInput.errors"
        [errorMessage]="errorMessage"
        [formControl]="thirdInput"></app-my-input>
      <app-my-input
        ngDefaultControl
        [value]="fourthInput.value"
        [error]="!!fourthInput.errors"
        [errorMessage]="errorMessage"
        [formControl]="fourthInput"></app-my-input>
      <app-my-input
        ngDefaultControl
        [value]="fivesInput.value"
        [error]="!!fivesInput.errors"
        [errorMessage]="errorMessage"
        [formControl]="fivesInput"></app-my-input>
    </div>
    <button class="submit-form"
            mat-raised-button
            color="primary"
            (click)="submitForm()"
    >Next</button>
  </form>
</div>
