@import "src/assets/styles/shared-styles/vars";
@import "src/assets/styles/shared-styles/mixins";

.form-wrapper {
  display: flex;
  justify-content: center;

  & form {
    width: 40%;

    & .title {
      text-align: center;
      & h1 {
        @include font-base(48px, 500, 48px);
      }
    }

    & .inputs {
      display: flex;
      justify-content: space-between;

      &--column {
        flex-direction: column;
      }
    }

    & .radio-buttons {
      display: flex;
      justify-content: space-between;
      padding-right: 6%;
      margin: 30px 0;
    }
  }
  & .submit-form {
    @include font-base(14px, 500, 15px);

    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    padding: 10px 46px;
    border-radius: 20px;
  }
}
